@model Author
@{
    ViewData["Title"] = "Details";
}

<h2>Details of @Model.FirstName @Model.LastName.ToUpper()</h2>

<div class="container">

    <dl class="row">
        <dt class="col-sm-3">#ID</dt>
        <dd class="col-sm-9">@Model.Id</dd>

        <dt class="col-sm-3">First Name</dt>
        <dd class="col-sm-9">@Model.FirstName</dd>

        <dt class="col-sm-3">Last Name</dt>
        <dd class="col-sm-9">@Model.LastName</dd>

        <dt class="col-sm-3">Date Of Birth</dt>
        <dd class="col-sm-9">@Model.DateOfBirth.ToShortDateString()</dd>
    </dl>

    <a class="btn btn-primary" asp-asp-controller="Author" asp-action="Index">Back to List</a>
</div>
